<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [ ]:
def power_of_two(n):
  if n == 1:
    return True
  if n < 1 or n % 2!= 0:
    return False
  while n % 2 == 0:
    n //= 2
  return n == 1
###Driver Code
n = 1
res = power_of_two(n)
print(res)

True

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [10]:
def natural_numbers(n):
  sum = 0
  r = int(n*(n+1)/2)
  sum = r
  return sum
###Driver Code
print("*****************************************Test Case 1 ********************************************************************************")
n = 3
res = natural_numbers(n)
print(res)
print("*****************************************Test Case 1 ********************************************************************************")
n1 = 5
res1 = natural_numbers(n1)
print(res1)

*****************************************Test Case 1 ********************************************************************************
6
*****************************************Test Case 1 ********************************************************************************
15

üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

In [12]:
def factorial1(N):
  if N == 0:
    return 1
  if N == 1:
    return 1
  return N * factorial1(N-1)
###Driver Code
print("*****************************************Test Case 1 ********************************************************************************")
N = 5
res = factorial1(N)
print(res)
print("*****************************************Test Case 2 ********************************************************************************")
N1 = 10
res1 = factorial1(N1)
print(res1)
print("*****************************************Test Case 3 ********************************************************************************")
N2 = 12
res2 = factorial1(N2)
print(res2)

*****************************************Test Case 1 ********************************************************************************
120
*****************************************Test Case 2 ********************************************************************************
3628800
*****************************************Test Case 3 ********************************************************************************
479001600

üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

In [14]:
def exponent(n,p):
  if p == 0:
    return 1
  if n == 0 :
    return 1
  return n ** p
###Driver Code

N = 5
P = 2
res = exponent(N,P)
print(res)

25

<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

In [16]:
def find_max_recursive(arr, n):
    if n == 1:
        return arr[0]
    else:
        return max(arr[n-1], find_max_recursive(arr, n-1))
###Driver Code
print("*****************************************Test Case 1 ********************************************************************************")
arr = [1, 4, 3, -5, -4, 8, 6]
n = len(arr)
max_element = find_max_recursive(arr, n)
print(max_element)
print("*****************************************Test Case 2 ********************************************************************************")
arr = [1, 4, 45, 6, 10, -8]
n = len(arr)
max_element = find_max_recursive(arr, n)
print(max_element)

*****************************************Test Case 1 ********************************************************************************
8
*****************************************Test Case 2 ********************************************************************************
45

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [20]:
def arithmetic_progression(a,d,n):
  Tn = a+(n-1)*d
  return Tn
print("*****************************************Test Case 1 ********************************************************************************")
A = 2
D = 1
N = 5
res = arithmetic_progression(A,D,N)
print(res)
print("*****************************************Test Case 2 ********************************************************************************")
A1 = 5
D1 = 2
N1 = 10
res1 = arithmetic_progression(A1,D1,N1)
print(res1)

*****************************************Test Case 1 ********************************************************************************
6
*****************************************Test Case 2 ********************************************************************************
23

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [22]:
def permutations(s):
    if len(s) == 1:
        return [s]

    result = []
    for i in range(len(s)):
        # Extract the current character
        current = s[i]

        # Generate all permutations of the remaining string
        remaining = s[:i] + s[i+1:]
        perms = permutations(remaining)

        # Append the current character to each permutation
        for perm in perms:
            result.append(current + perm)

    return result

###Driver Code
print("************************************************  Test Case 1 ****************************************************************")
s = "ABC"
permutations_list = permutations(s)
for perm in permutations_list:
    print(perm)
print("************************************************  Test Case 2 ****************************************************************")
s = "XY"
permutations_list = permutations(s)
for perm in permutations_list:
    print(perm)

************************************************  Test Case 1 ****************************************************************
ABC
ACB
BAC
BCA
CAB
CBA
************************************************  Test Case 2 ****************************************************************
XY
YX

<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

In [24]:
def arr_product(arr):
  pro = 1
  for i in range(0,len(arr)):
    pro = pro * arr[i]
    i += 1
  return pro
###Driver Code
print("************************************************  Test Case 1 ****************************************************************")
arr = [1,2,3,4,5]
res = arr_product(arr)
print(res)
print("************************************************  Test Case 2 ****************************************************************")
arr1 = [1,6,3]
res1 = arr_product(arr1)
print(res1)

************************************************  Test Case 1 ****************************************************************
120
************************************************  Test Case 2 ****************************************************************
18